.ipynb_checkpoints/
__pycache__/

*.zip
*.png

*.mp4
*.npy
*.h5
*.dat
*.yaml
*.gif

events.out.*

z_*.*

uv.lock

requirements.txt

!docs/figures/**
!out128.gif
!zurich_city_13_a_summary/frames/frame_0000_41616099917_41616149917.png
!zurich_city_13_a_summary/histograms/all/histogram_41616099917_41616149917.png