.ipynb_checkpoints/
__pycache__/

data/thun_00_a/**
!data/thun_00_a/window_queries.txt

*.zip
*.png

*.mp4
*.npy
*.h5

z_*.*

uv.lock

requirements.txt

!docs/event_statistics.png
!test/frame_metrics.png
!test/frame_summaries/**
!test/frames/frame_0171_49607750165_49607800165.png