.ipynb_checkpoints/
__pycache__/

*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.lof
*.lot
*.lol

*~
*.avi
*.swp

*.zip
*.png
*.mp4
*.gif

*.npy
*.h5
*.dat
*.yaml

events.out.*

z_*.*

uv.lock

.agents/

!docs/figures/**
!out128.gif
!zurich_city_13_a_summary/frames/frame_0000_41616099917_41616149917.png
!zurich_city_13_a_summary/histograms/all/histogram_41616099917_41616149917.png
!docs/presentation/figures/**
!object_detection_evaluation/zurich_city_13_a/gt.png